from imp import load_source
import sys

record_module = load_source('record_module', "{idapro_internal_dir}/record_module.py")
sys.modules['record_module'] = record_module

record_module.setup()

## This shouldn't be seen by a user, unless during a pytest-idapro runnning
## if you see this, especially if IDA is manfunctioning, remove all lines above
## -- pytest-idapro injection end marker --
