from imp import load_source
import sys

proxy_module = load_source('proxy_module', "{idapro_internal_dir}/proxy_module.py")
sys.modules['proxy_module'] = proxy_module

proxy_module.setup()

## This shouldn't be seen by a user, unless during a pytest-idapro runnning
## if you see this, especially if IDA is manfunctioning, remove all lines above
## -- pytest-idapro injection end marker --
