from imp import load_source, find_module, load_module
import sys

found_result = find_module('idapro_internal', ["{idapro_internal_dir}"])
fp, pathname, description = found_result
try:
    idapro_internal = load_module('idapro_internal', fp, pathname, description)
finally:
    if fp:
        fp.close()

from idapro_internal import record_module
sys.modules['record_module'] = record_module

record_module.setup()

## This shouldn't be seen by a user, unless during a pytest-idapro runnning
## if you see this, especially if IDA is manfunctioning, remove all lines above
## -- pytest-idapro injection end marker --
